/* Start COPY-BTT */
#copyButtonID {
	width: 20px !important;
	height: 20px !important;
	position: absolute !important;
	right: -50px !important;
	margin-top: 5px !important;
	z-index: 10 !important;
}

#copyButtonID:hover {
	cursor: pointer !important;
}

/* End COPY-BTT */

.enf_hideElement {
	display: none !important;
}

#mainview {
	margin-left: initial !important;
}

#main-content {
	margin-top: initial !important;
}

/* Start NAV-BAR */
#navbar-container {
	position: relative !important;
	height: 40px !important;
	width: initial !important;
	background: none !important;
	background-color: #313131 !important;
	display: block !important;
}

#nav {
	display: flex !important;
	height: inherit !important;
}

#nav li {
    text-align: center !important;
    display: inline-block !important;
    height: initial !important;
    width: 50% !important;
}

#navbar-container #nav li a {
	padding-top: initial !important;
	padding-right: initial !important;
	height: initial !important;
	line-height: 40px !important;
    font-weight: bold !important;
	color: #ffffff !important;
}

#navbar-container #nav li.select a {
    background: none !important;
    background-color: white !important;
    text-shadow: none !important;
    color: #005699 !important;
  }
/* End NAV-BAR */


/* Start Main page*/
.page_container {
    width: initial !important;
    padding-bottom: initial !important;
    min-height: 100% !important;
    padding-right: initial !important;
    padding-top: initial !important;
    margin-left: initial !important;
    padding-left: initial !important;
    background: white !important;
}
/* End Main page*/


/* Start Page Title */
.page_title {
    font-size: 20px !important;
    color: #000 !important;
    
    width: initial !important;
    background: white !important;
    
    position: relative !important;
    top: initial !important;
    
    margin-top: initial !important;
    
    padding: 20px !important;
    
    height: initial !important;
    text-shadow: white 0 1px -2px !important;
    
    border-bottom: 1px solid #eee !important;
}

.page_title button {
    float: right !important;
    margin-left: initial !important;
    padding: 0 !important;
}

.page_title .green_btn {
	display: inline !important;
	margin: 0px 0px 0px 20px !important;
}

.page_title .bmenu {
	float:right !important;
}

.page_title .blue_btn {
	margin: 0 !important;
}
/* End Page Title */


/* Start Page content */
.displaytable {
    margin-top: initial !important;
}
/* End page content */


/* Start notes content */
#basicNote {
	border-bottom: 1px solid #eee !important;
}
.notes li {
	float: none !important;
	margin: 20px !important;
	display: inline-block !important;
}

.stick {
	width: 300px !important;
}

.stick textarea {
	height: 200px !important;
	width: 280px !important;
	overflow-x: hidden !important;
}

/* End notes content */


/* Start section content */
.settingform h3 {
	position: relative !important;
}
.displaytable section {
	margin-right: 0 !important;
	padding: 20px !important;
}

.mid_sec {
	display: block !important;
	margin: 0 !important;
	width: initial !important;
}

.mid_sec .row {
	width: 500px !important;
	margin: auto !important;
}

/* End section content */

#newAddress {
	height: 50px !important;
	background: #ffffff !important;
}


/* Start logo content */
.con_right {
	float: none !important;
	display: block !important;
	width: 500px !important;
	margin: auto !important;
}

/* End logo content */


.center-element {
	display:flex;
	justify-content: center;
}

/* Start template content */

/* End template content */